# Copyright 2022 Canonical Ltd.
# See LICENSE file for licensing details.

options:

  reload_on_config_changed:
    default: true
    description: "Whether or not to reload pgbouncer after every config change."
    type: "bool"

  listen_port:
    default: 6432
    description: "Port on which PGBouncer listens for traffic"
    type: "int"

  listen_address:
    default: "localhost"
    description: "Address on which PGBouncer listens for traffic"
    type: "string"

  admin_users:
    default: "juju-admin"
    description: "A comma-separated list of admin users. A password will be generated for each user. Only generates `juju-admin` user by default"
    type: "string"
