cosl==0.0.7 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
ops==2.8.0 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
pgconnstr==1.0.1 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
poetry-core==1.8.1 ; python_full_version >= "3.8.10" and python_version < "4.0"
pydantic==1.10.13 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
pyyaml==6.0.1 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
tenacity==8.2.3 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
typing-extensions==4.8.0 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
websocket-client==1.6.4 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
