[Unit]
Description=connection pooler for postgresql (%i)
After=network.target

[Service]
Type=simple
# -R flag lets separate pgbouncer instances reuse sockets from previous instances, so on restart
# they'll reuse the same sockets, preserving connections.
ExecStart=/snap/bin/charmed-postgresql.pgbouncer-server -R /var/snap/charmed-postgresql/common/var/lib/pgbouncer/{{ app_name }}/instance_%i/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
