[Unit]
Description=connection pooler for postgresql (%i)
After=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/install -o snap_daemon -g snap_daemon -m 700 -d \
        /var/snap/charmed-pgbouncer/common/var/log/pgbouncer/{{ app_name }}/instance_%i/ \
        {{ snap_tmp_dir }}/{{ app_name }}/instance_%i/
ExecStart=/snap/bin/charmed-pgbouncer.pgbouncer-server {{ conf_dir }}/{{ app_name }}/instance_%i/pgbouncer.ini
KillSignal=SIGINT
ExecReload=kill -HUP $MAINPID
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
