[Unit]
Description=prometheus exporter for pgbouncer
After=network.target

[Service]
Type=simple
ExecStart=/snap/bin/charmed-postgresql.prometheus-pgbouncer-exporter --web.listen-address=:{{ metrics_port }} --pgBouncer.connectionString="postgres://{{ stats_user }}:qweqwe@localhost:{{ listen_port }}/pgbouncer?sslmode=disable"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
