[Unit]
Description=pgbouncer service target file. This file gathers the necessary pgbouncer services from the charm and deploys them in a single command. It also will fail if one of the services fails.
Upholds=PGB_SERVICES

[Install]
WantedBy=multi-user.target