[Unit]
Description=connection pooler for postgresql (%i)
After=network.target
Requires=pgbouncer@%i.socket

[Service]
Type=simple
User=postgres
# -R flag lets separate pgbouncer instances reuse sockets from previous instances, so on restart
# they'll reuse the same sockets, preserving connections.
ExecStart=/sbin/pgbouncer -R /var/lib/postgresql/pgbouncer/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
