[Unit]
Description=connection pooler for postgresql (%i)
After=network.target

[Service]
Type=simple
User=postgres
# -R flag is used to ensure sockets are reused across pgbouncer instances
ExecStart=/sbin/pgbouncer -R /var/lib/postgresql/pgbouncer/instance_%i/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
