[Unit]
Description=sockets for PgBouncer

[Socket]
ListenStream=PORT_PLACEHOLDER
ListenStream=/var/lib/postgresql/pgbouncer/.s.PGSQL.PORT_PLACEHOLDER

ReusePort=true

[Install]
WantedBy=sockets.target
